.size-tab {
  .nut-tabs-titles-item-active {
    .nut-tabs-titles-item-text {
      color: #fff !important;
      background: #ffbd5a !important;
    }
  }

  .nut-tabs-titles-item-text {
    padding: 8px 12px !important ;
    background: #2c2c2c;
    border: 0 !important;
    border-radius: 23px;
  }
  .nut-tabs-titles-item {
    padding: 0 7px 0 0 !important;
  }

  .nut-tabs-list {
    padding: 0 15px;
  }

  .nut-tabs-content-wrap {
    margin-top: 12px;
  }
}
